* { margin: 0; padding: 0; } 
ul, li { list-style: none; }

.hidden { display: none; }
.wrap { width: 90%; margin: 50px auto; }

#greeting { color: #fff; }
#clock { color: #fff; }
#quote { color: #fff; }

#todo .todo_form input { color: #000; outline: none; width: 15%; }
#todo .todo_list li { list-style: decimal; }

.bgImg img {
    position:absolute; width:100%; height:100%; left: 0px; 
    top: 0px; right:0px; bottom:0px; z-index: -1; opacity:80%;
}
